{% if site.weibo_uid %}
  2.	<section>
	3.	  <h1>新浪微博</h1>
	4.	  <ul id="weibo">
	5.	    <li>
	6.	      <iframe
	7.	        width="100%"
	8.	        height="550"
	9.	        class="share_self"
	10.	        frameborder="0"
	11.	        scrolling="no"
	12.	        src="http://widget.weibo.com/weiboshow/index.php？width=0&height=550&ptype={％ if site.weibo_pic ％}1{％ else ％}0{％ endif ％}&speed=0&skin={{weibo_skin}}&isTitle=0&noborder=1&isWeibo={％ if site.weibo_show ％}1{％ else ％}0{％ endif ％}&isFans={{weibo_fansline}}&uid={{site.weibo_uid}}&verifier={{site.weibo_verifier}}">
	13.	      </iframe>
	14.	
	15.	    </li>
	16.	  </ul>
	17.	</section>
	18.	{% endif %}
	19.	
